<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="main-navigation">
  <style>
  :host {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: rgba(238,238,238,0.7);
    padding: 0;
  }
  .mdl-layout__header-row {
    padding: 0;
  }
  </style>

  <template>
    <div class="mdl-layout__header-row">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font" style="margin: auto;">
        <a class="mdl-navigation__link is-active" href="#">Blog</a>
        <a class="mdl-navigation__link" href="https://rastasheep.github.io/ui-lab/">Lab</a>
        <a class="mdl-navigation__link" href="#">About</a>
        <a class="mdl-navigation__link" href="#">Contact</a>
      </nav>
    </div>
  </template>

</dom-module>

<script>
  Polymer({
    is: "main-navigation",
  });
</script>
